@font-face {
    font-family: 'Lora';
    src: url('/leipatehdas/style/Lora/Lora-Italic-VariableFont_wght.ttf')format('truetype');
    src: url('/leipatehdas/style/Lora/Lora-VariableFont_wght.ttf')format('truetype');
}
body {
    font-family: 'Lora', sans-serif;
}
.card img{
    height: 18rem;
    width: 100%; /* Ensure the image takes up the full width of the card */
    object-fit: contain; 
}
footer {
    background-color: #ad2f00;
    color: white;
}
footer a {
    color: #fff;
    text-decoration: none;
}
footer a:hover {
    color: #eee;
}