/* This begins personal changes */
@font-face {
    font-family: 'Lora';
    src: url('/leipatehdas/style/Lora/Lora-Italic-VariableFont_wght.ttf')format('truetype');
    src: url('/leipatehdas/style/Lora/Lora-VariableFont_wght.ttf')format('truetype');
}
body {
    font-family: 'Lora', sans-serif;
}
.card img{
    height: 18rem;
    width: 100%; /* Ensure the image takes up the full width of the card */
    object-fit: contain; 
}
footer a {
    color: #fff;
    text-decoration: none;
}
footer a:hover {
    color: #eee;
}
.btn-primary {
	--bs-btn-color: #fff;
	--bs-btn-bg: #ad2f00;
	--bs-btn-border-color: #ad2f00;
	--bs-btn-hover-color: #ad2f00;
	--bs-btn-hover-bg: #fff;
	--bs-btn-hover-border-color: #ad2f00;
	--bs-btn-focus-shadow-rgb: 49,132,253;
	--bs-btn-active-color: #fff;
	--bs-btn-active-bg: #ad2f00;
	--bs-btn-active-border-color: #ad2f00;
	--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	--bs-btn-disabled-color: #fff;
	--bs-btn-disabled-bg: #ad2f00;
	--bs-btn-disabled-border-color: #ad2f00;
}
.btn-outline-light {
	--bs-btn-color: #f8f9fa;
	--bs-btn-border-color: #f8f9fa;
	--bs-btn-hover-color: #000;
	--bs-btn-hover-bg: #f8f9fa;
	--bs-btn-hover-border-color: #f8f9fa;
	--bs-btn-focus-shadow-rgb: 248,249,250;
	--bs-btn-active-color: #000;
	--bs-btn-active-bg: #f8f9fa;
	--bs-btn-active-border-color: #f8f9fa;
	--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	--bs-btn-disabled-color: #f8f9fa;
	--bs-btn-disabled-bg: transparent;
	--bs-btn-disabled-border-color: #f8f9fa;
	--bs-gradient: none;
}
.position-relative {
	position: relative;
}
.overlay {
	background-color: rgba(0, 0, 0, 0.5); /* Adjust opacity here */
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}
video {
	position: relative;
	z-index: 0;
	object-fit: cover; /* Ensure the video covers the entire container */
	display: block; /* Remove default inline-block spacing */
}
.text-overlay {
	z-index: 2; /* Make sure text is above the overlay */
}
.text-justify {
    text-align: justify;
}