@font-face { 
    font-family: 'Montserrat';
    src: url('/style/Montserrat/Montserrat-Italic-VariableFont_wght.ttf') format('truetype');
    src: url('/style/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
}
body {
    font-family: 'Montserrat', sans-serif;
}