@font-face { 
    font-family: 'Montserrat';
    src: url('/style/Montserrat/Montserrat-Italic-VariableFont_wght.ttf') format('truetype');
    src: url('/style/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
}
body { 
    font-family: 'Montserrat', sans-serif; 
    background-color: #000; 
} 
#myVideo { 
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}
.container-fluid { height: 100vh; }
.text-justify { text-align: justify; }
.card {
    border: 2px solid rgba(0, 0, 0, 0.3);
    color: #eee;
    background: inherit;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
}
.nav {
    border: 2px solid rgba(0, 0, 0, 0.3);
    background: inherit;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px); 
}
.nav-link { color: #eee; }
.nav-link:hover { color: #aaa; }
a { color: #eee; } 
a:hover { color: #aaa; }
.nav-link.active:focus { color: #aaa; }