@font-face {
    font-family: 'Coustard';
    src: url('/style/Coustard/Coustard-Black.ttf') format('truetype');
    src: url('/style/Coustard/Coustard-Regular.ttf') format('truetype');
}
body {
    font-family: 'Coustard', sans-serif;
}
.navbar-toggler-icon {
    width: 25px;
    height: 25px;
    background: url('/images/menu.png') no-repeat center center;
    background-size: contain;
    border: none;
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
    outline: none;
}
.navbar-toggler {
    border: none;
}
.navbar-toggler:focus { /* Removes the 'border' */
    box-shadow: none;
}
.text-justify {
    text-align: justify;
}
footer a {
    color: #fff;
    text-decoration: none;
}
footer a:hover {
    color: #ccc;
}