/* This begins personal changes */
@font-face {
    font-family: 'Lora';
    src: url('/leipatehdas/assets/Lora/Lora-Italic-VariableFont_wght.ttf')format('truetype');
    src: url('/leipatehdas/assets/Lora/Lora-VariableFont_wght.ttf')format('truetype');
}
body { font-family: 'Lora', sans-serif; }
.card img{
    height: 18rem;
}
footer a {
    color: #fff;
}
footer a:hover { color: #ccc; }
.btn-primary {
	--bs-btn-color: #fff;
	--bs-btn-bg: #ad2f00;
	--bs-btn-border-color: #ad2f00;
	--bs-btn-hover-color: #ad2f00;
	--bs-btn-hover-bg: #fff;
	--bs-btn-hover-border-color: #ad2f00;
	--bs-btn-focus-shadow-rgb: 49,132,253;
	--bs-btn-active-color: #fff;
	--bs-btn-active-bg: #ad2f00;
	--bs-btn-active-border-color: #ad2f00;
	--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	--bs-btn-disabled-color: #fff;
	--bs-btn-disabled-bg: #ad2f00;
	--bs-btn-disabled-border-color: #ad2f00;
}
.btn-outline-light {
	--bs-btn-color: #f8f9fa;
	--bs-btn-border-color: #f8f9fa;
	--bs-btn-hover-color: #000;
	--bs-btn-hover-bg: #f8f9fa;
	--bs-btn-hover-border-color: #f8f9fa;
	--bs-btn-focus-shadow-rgb: 248,249,250;
	--bs-btn-active-color: #000;
	--bs-btn-active-bg: #f8f9fa;
	--bs-btn-active-border-color: #f8f9fa;
	--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	--bs-btn-disabled-color: #f8f9fa;
	--bs-btn-disabled-bg: transparent;
	--bs-btn-disabled-border-color: #f8f9fa;
	--bs-gradient: none;
}
.overlay {
	background-color: rgba(0, 0, 0, 0.5); /* Adjust opacity here */
}
.text-justify { text-align: justify; }